<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.samsung.com/">
	<ThumbIcon>icon/logo.png</ThumbIcon>
	<BigThumbIcon>icon/logo.png</BigThumbIcon>
	<ListIcon>icon/logo.png</ListIcon>
    <BigListIcon>icon/logo.png</BigListIcon>

	<category>movies</category>
	<autoUpdate>y</autoUpdate>
	<cpname>Vifi</cpname>
	<cpauthjs>N</cpauthjs>
	<login>n</login>

	<ver>0.99</ver>
	<mgrver>2.250</mgrver>
	
	<fullwidget>y</fullwidget>

	<ticker>n</ticker>
	<childlock>n</childlock>

	<srcctl>y</srcctl>
	<dcont>n</dcont>
	<movie>y</movie>
	<widgetname>Vifi</widgetname>
	<description>VOD Application</description>

	<width>1280</width>
	<height>720</height>

	<author>
		<name>Vifi</name>
		<email>tugi@vifi.ee</email>
		<link>http://www.vifi.ee</link>
		<organization>Vificom OÜ</organization>
	</author>
</widget>
