#player { 
    width: 1920px;
    height: 1080px;
}
#featured .tv-button.tv-component.movie.tv-component-focused.active-item { 
	width: 24em !important;
	height: 34em !important;
}

#featured .tv-component.tv-button.movie{
display: inline-block;
width: 24em;
height: 34em;

}

#homePage #featured {
bottom: 29em;

}