#player {
    width: 1920px;
    height: 1080px;
}
#featured .tv-component.movie.tv-component-focused {
    width: 23em !important;
    height: 34em !important;
}
#featured .tv-component.movie {
    width: 20em !important;
    height: 27em !important;
}
#homePage .featuredlist {
    height: 31em;
    bottom: 14em;
    width: 80%;
}
#browserPage .movie-grid .thumb {
    height: 30em !important;
}
#browserPage .movie-grid .movie {
    width: 25em !important;
}